.charts-container {
  background: #f2f2f2;
  padding: 10px;
  // max-width: 350px;
  width: 100%; /* pour être responsive */
  margin: 0 auto;
  border-radius: 10px;
  height: 620px; /* <<< hauteur fixe que tu peux ajuster */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-title {
  font-size: 20px;  /* Taille de la police du titre */
  margin-bottom: 10px; /* Espace sous le titre */
  text-align: center; /* Centre le texte */
  width: 100%; /* S'assure que le titre occupe toute la largeur */
}

.chart-wrapper {
  width: 100%;
  margin-top: 10px;
}

.chart-wrapper:first-child {
  margin-top: 0; /* Pas de marge pour le premier */
}

canvas {
  width: 100% !important; /* canvas prend toute la largeur disponible */
  height: 180px !important; /* hauteur automatique pour garder le ratio */
}
