
.input-group {
    position: relative;  
    width: 170px; 
  }
  
 
  
.dropdown-menu.show {
    position: fixed; 
    display: block;
    margin-top: 5px;
    max-height: 200px; 
    overflow-y: auto; 
    width: 10%; 
  }
  