.icon{
  margin-top: 15px;
    
  margin-left: 30px;
  font-size: 30px;
}
.titre {
  margin-top: 10px;
    
  // margin-left: 5px;
  font-size: 30px;
    
    font-family: 'sousTitre';
  }

.filter{
    margin-bottom: 15px;
}