
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: 'title';
  src: url('/fonts/MontaguSlab-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sousTitre';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  // font-weight: bold;
  font-style: normal;
}
